extends layout

block content
  if currentUser !== undefined
    if currentUser.membershipStatus === "regular"
      h2 Welcome back #{currentUser.username}
    else if currentUser.membershipStatus === "member"
      h2 Welcome <em>member</em> #{currentUser.username}
    else
      h2 Welcome <em>administrator</em> #{currentUser.username}
  else
    h2 Welcome to #{ title }
  if messages
    .messages 
      each message in messages 
        .message
          h1= message.title 
          h2.icon!= message.poster.icon
          p= message.text 
          if currentUser !== undefined
            if currentUser.membershipStatus !== "regular"
              p.info #{message.formattedTimeStamp} by <i>#{message.poster.username}</i>
            if currentUser.membershipStatus === "admin"
              form(action=`/message/delete/${message._id}` method="POST") 
                button(data) Delete Post
          
