extends layout

block content
  form(action="" method="POST") 
    h1= title
    p Don't have an account? 
      a(href="/user/sign-up") Sign Up
    .input_wrapper
      label.form-label(for="username") Username:
      input#name.form-control.form-control-sm(
        type="text",
        name="username",
        minlength="3",
        maxlength="25",
        placeholder="Username",
        class=(error == "Incorrect username" ? "is-invalid" : "")
        required
      )
      if error == "Incorrect username"
        .invalid-feedback 
          |Incorrect username
    .input_wrapper
      label.form-label(for="password") Password:
      input#name.form-control.form-control-sm(
        type="password",
        name="password",
        minlength="6",
        class=(error == "Incorrect password" ? "is-invalid" : "")
        required
      )
      if error == "Incorrect password"
        .invalid-feedback 
          |Incorrect password
    button Log In

    if errors 
      each error in errors 
        p= error