extends layout 

block content
  form(action="" method="POST") 
    h1= title
    .input_wrapper
      label.form-label(for="title") Title:
      input#name.form-control.form-control-sm(
        type="text",
        name="username",
        minlength="3",
        maxlength="50",
        placeholder="Message title",
        required
      )
    .input_wrapper
      label.form-label(for="message") Message:
      textarea#name.form-control.form-control-sm(
        type="text",
        name="message",
        minlength="3",
        rows="5"
        required
      )
    button Create Message