extends layout

block content
  form(action="" method="POST") 
    h1= title
    p Already have an account? 
      a(href="/user/sign-up") Log In
    .user_icon
      h3 Your icon:
      h2!= emoji
      a.button(href="") Change
      input.hidden(type="text" name="icon" value= emoji)
    .input_wrapper
      label.form-label(for="username") Username:
      input#username.form-control.form-control-sm(
        type="text",
        name="username",
        minlength="3",
        maxlength="25",
        placeholder="Username",
        value=(user !== undefined ? user.username : '')
        class=(error == "Username already exists" ? "is-invalid" : "")
        required
      )
      if error == "Username already exists"
        .invalid-feedback 
          |Username already exists
    .input_wrapper
      label.form-label(for="password") Password:
      input#password.form-control.form-control-sm(
        type="password",
        name="password",
        minlength="6",
        autocomplete="new-password",
        required
      )
    .input_wrapper
      label.form-label(for="passwordConfirm") Confirm password:
      input#passwordConfirm.form-control.form-control-sm(
        type="password",
        name="passwordConfirm",
        minlength="6",
        autocomplete="new-password",
        class=(errors && errors.find((error) => error.msg === "Passwords don't match!") !== undefined ? "is-invalid" : "")
        required
      )
      if errors && errors.find((error) => error.msg === "Passwords don't match!") !== undefined
        .invalid-feedback 
          |Passwords don't match
    button Sign up
  if errors
    p= error
    ul
      for error in errors
        li!= error.msg