extends layout

block content
  form(action="" method="POST") 
    h1= title
    p Already have an account? 
      a(href="/user/sign-up") Log In
    .input_wrapper
      label.form-label(for="username") User Name:
      input#name.form-control.form-control-sm(
        type="text",
        name="username",
        minlength="3",
        maxlength="25",
        placeholder="User Name",
        required
      )
    .input_wrapper
      label.form-label(for="password") Password:
      input#name.form-control.form-control-sm(
        type="password",
        name="password",
        minlength="6",
        required
      )
    .input_wrapper
      label.form-label(for="passwordConfirm") Confirm password:
      input#name.form-control.form-control-sm(
        type="password",
        name="passwordConfirm",
        minlength="6",
        required
      )
    button Sign up